*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    ---main_color:#3F3D3D;
    ---text_color:white;
    ---alternative_color:#D9D9D9;
    ---radius:3px;
    ---border:1px solid black;
}
/*-------TABLE------------*/
table{
    width: 100%;
    text-align: center;
} 
 
.table_row{
    border-bottom: var(---border);
}

 .td{
    padding: 10px;
    border-bottom: var(---border);
    animation:backInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
 }
.td img{
    width: 100px;
    height: 100px;
}

/* ICON */
i{
    font-size: 30px;
}

/*  NAVBAR*/
.nav-item a{
    font-weight: 900;
    color: var(---text_color);
    font-size: 20px;
}
.navbar{
    background-color: var(---main_color);
}
/* add product btn */
button{
    background-color: var(---alternative_color);
    color: black;
    font-weight: 900;
    width: 30%;
    border: var(---border);
    margin: 4px;
 }
 

input{
    width: 100%;
    border-radius: var(---radius);
    border: var(---border);
    padding: 10px;

}
::placeholder{
    margin: 1px;
}

.save{
    background-color: var(---main_color);
    color: var(---alternative_color);
}

.cancel{
    background-color: var(---alternative_color);
    color: var(---main_color);
}
/********************INDEX PAGE********************************************
/

/* BANNER */
.banner{
    background-image: url('https://i.postimg.cc/0NjH06Nf/banner-image.jpg');
    height: 90vh;
    background-attachment: fixed;
}

/* PRODUCTS */
.divider h1{
    text-align: center;
    color: var(---text_color);
    background-color: var(---main_color);
    padding: 20px;
    font-weight: 900;
}

#product{
    background-color: var(---alternative_color);
}

.navbar-brand img{
    width: 100px;
    height: 100px;
}

.btn{
    float: right;
    background-color:var(---main_color);
    padding: 20px;
    color: var(---text_color);
}


footer{
    text-align: center;
    font-weight: 900;
    color: var(---text_color);
    background-color: var(---main_color);
    padding: 20px;
    position: relative;
    bottom: 0;
}

.container-fluid input{
    padding: 10px;
    margin: 6px;
}


.container_output{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-img-top{
    height: 60vh;
}
 .col{
    margin: 3px;
    animation:backInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
 }
 
 