  @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Patua One', cursive;
}
:root{
    ---main_color:#3F3D3D;
    ---text_color:white;
    ---alternative_color:#D9D9D9;
    ---radius:3px;
    ---border:1px solid black;
}

 

/***************************************************/
/****************TABLE STYLING*******************/
/***************************************************/

 table{
    width: 100%;
    margin-bottom: 100px;
 }
.table_row{
    border-bottom: var(---border);
    width: 100%;
}

 .td{
    /* padding: 10px; */
    border-bottom: var(---border);
    /* animation:backInRight; 
    animation-duration: 3s;  */
 }

 .td button {
    width: 100% ;
 }
.td img{
    width: 100px;
    height: 100px;
}
/* 
table {
    border: 1px solid black;
} */

/*****************************************/
/****************nav bar*****************/
/*****************************************/
/* nav img/logo */
.navbar-brand img{
    width: 60px;
    height: 60px;
}
/* links */
.nav-item a{
    font-weight: 900;
    color: var(---text_color);
    font-size: 20px;
}
/* nav bar */
.navbar{
    background-color: var(---main_color);
}
/* add product btn */
button{
    background-color: var(---alternative_color);
    color: black;
    font-weight: 900;
    width: 30%;
    border: var(---border);
    margin: 4px;
 }

 .hover_on_nav{
    border-bottom: 2px solid white;
 }
 /*****************************************/
/****************MODAL*****************/
/*****************************************/
/* input */
input{
    width: 100%;
    border-radius: var(---radius);
    border: var(---border);
    padding: 10px;

}
::placeholder{
    margin: 1px;
}

.save{
    background-color: var(---main_color);
    color: var(---alternative_color);
}

.cancel{
    background-color: var(---alternative_color);
    color: var(---main_color);
}
/********************************/
/************* CONTACT**********/
/********************************/
/* input */
form input{
    padding: 20px;
    margin: 4px;
}

form .submit{
    background-color: var(---main_color);
    color: var(---alternative_color);
    font-weight: 800;
}
/* submit when hover */
form .submit:hover{
    background-color: var(---alternative_color);
    color: var(---main_color);
    font-weight: 800;
}

/* close */
form .btn-danger{
    font-weight: 800;
}


/*******************/
/******BANNER******/
/*******************/
.banner{
    background-image: url('https://i.postimg.cc/8PcgTD0w/banner-shoes.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
}

.banner h1{
    font-weight: 900;
    color: white;
    font-size: 80px;
    position: absolute;
    top: 50%;
    /* animation:backInDown; /* referring directly to the animation's @keyframe declaration */
    /* animation-duration: 3s; don't forget to set a duration!  */
}

.brand{
    border-bottom: 4px solid white;
}
 


/***************************************************/
/****************PRODUCT SECTION*******************/
/***************************************************/
/* PRODUCTS */
.divider h1{
    text-align: center;
    color: var(---text_color);
    background-color: var(---main_color);
    padding: 20px;
    font-weight: 900;
}

#product{
    background-color: var(---alternative_color);
    margin-bottom: 50px;
}


.btn{
    float: right;
    background-color:var(---main_color);
    padding: 20px;
    color: var(---text_color);
}


.container-fluid input{
    padding: 10px;
    margin: 6px;
}


.container_output{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.container_output2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

.card-img-top{
    height: 60vh;
}
 .col{
    margin: 3px;
    /* animation:backInRight; referring directly to the animation's @keyframe declaration */
    /* animation-duration: 3s; don't forget to set a duration! */
 }
 
.add_TO_CART{
    background-color:var(---main_color);
     color: white;
     font-weight: 900;
     width: 40%;
     border: 1px solid #3F3D3D;
     border-radius: 2px;
     margin: 4px;
     padding:10px;
}
/***************************************************/
/****************FOOTER SECTION*******************/
/***************************************************/
footer{
    text-align: center;
    font-weight: 900;
    color: var(---text_color);
    background-color: var(---main_color);
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.card{
    margin: 3px;
    text-align: center;
}


/***************************************************/
/****************edit stuff*******************/
/***************************************************/
.modal-body input{
padding: 10px;
margin: 4px;
border-radius: 2px;
}

#delete_admin{
    margin: 2px;
    width: 70px;
}

#edit_admin{
    margin: 2px;
    width: 70px;
}

/***************************************************/
/****************Responsiveness*******************/
/***************************************************/
  /* SMALL PHONE */
/* Mobile  300px*/
@media only screen and (max-width: 300px){
    /**********BANNER****************/
     .banner{
 background-image: none;
 background-color: #3F3D3D;
         background-size: contain;
         /* visibility: hidden; */
          height: 30vh;
         background-repeat: no-repeat; 
     }
     .banner h1{
         padding: 40px;
         font-size: 30px;
         position: relative;
     }
  
     /************PRODUCTS************/
    
     .container_output{
         grid-template-columns: auto;
       }
       .container_output2{
           grid-template-columns: auto;
}
}
 


/*NORMAL PHONE  700px*/
@media only screen and (max-width: 700px){
    /********************************/
    /**********BANNER****************/
    /**********************************/
     .banner{
   
         background-size: cover;
      
     }
    
     /**********************************/
     /************PRODUCTS************/
     /**********************************/
        .container_output{
         grid-template-columns: auto;
       }

        .container_output2{
           grid-template-columns: auto;
         }

         tr {
             width: fit-content;
         }

         .td{
             font-size: 10px;
            }

        .td img{
            width: 100%;
            height: 100%;
            }
        }

     